<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- стили сайта -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/signin_styles_error.css') }}" type="text/css">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- шрифт raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,900;1,800&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <main>
        <div class="circle"></div>
        <form action="" method="post" novalidate class="form-container">
            <h1 class="form-title">Registration</h1>
            <p class="form-message">{{ message }}</p>
            <div class="form-fields">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    {{ form.email(type="email", placeholder="Email") }}
                    {% for error in form.email.errors %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-field">
                    {{ form.username(type="text", placeholder="Username") }}
                    {% for error in form.username.errors %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-field">
                    {{ form.password(type="password", placeholder="Password") }}
                    {% for error in form.password.errors %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-field">
                    {{ form.password_confirm(type="password", placeholder="Confirm Password")}}
                    {% for error in form.password_confirm.errors %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-buttons">
                {{ form.submit(class="button") }}
                {% for error in form.submit.errors %}
                <div class="error" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="register-form-sign-in">
                <p>Already a member?</p>
                <p><a href="/auth/signin">Sign in &#10132;</a></p>
            </div>
        </form>
    </main>
</body>
</html>